In [1]:
%%sql
SELECT * FROM [google.com:ddm-connectors-demo:aw_dataset.__TABLES__];

QueryResultsTable job_puhP-yQy15AQy5-P3IoYKpVUT0M

In [38]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [ ]:
%%sql
SELECT 
  AccountCurrencyCode,
  AccountDescriptiveName,
  AdNetworkType1,
  Date,
  Device,
  Cost,
FROM 
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFORMANCE_DEVICE];

In [3]:
%%sql --module account_device
SELECT
  *
FROM
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFORMANCE_DEVICE]
WHERE AccountDescriptiveName IN ('Rumbo Vuelos','Account Primario Volagratis','Brand','BravoFly.com','LMN Package')

In [ ]:
%%sql
SELECT
  *
FROM
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFROMANCE_DEVICE]
LIMIT
  3

In [4]:
df = bq.Query(account_device).to_dataframe()

In [12]:
df[['Date','Week']].drop_duplicates().sort_values(by=['Date'],ascending=False)

            Date        Week
8421  2016-04-30  2016-04-25
8419  2016-04-29  2016-04-25
8439  2016-04-28  2016-04-25
8420  2016-04-27  2016-04-25
8454  2016-04-26  2016-04-25
8425  2016-04-25  2016-04-25
8423  2016-04-24  2016-04-18
8422  2016-04-23  2016-04-18
8373  2016-04-22  2016-04-18
8371  2016-04-21  2016-04-18
8377  2016-04-20  2016-04-18
8394  2016-04-19  2016-04-18
8375  2016-04-18  2016-04-18
8387  2016-04-17  2016-04-11
8382  2016-04-16  2016-04-11
8380  2016-04-15  2016-04-11
349   2016-04-14  2016-04-11
352   2016-04-13  2016-04-11
362   2016-04-12  2016-04-11
366   2016-04-11  2016-04-11
355   2016-04-10  2016-04-04
356   2016-04-09  2016-04-04
350   2016-04-08  2016-04-04
296   2016-04-07  2016-04-04
294   2016-04-06  2016-04-04
283   2016-04-05  2016-04-04
281   2016-04-04  2016-04-04
302   2016-04-03  2016-03-28
284   2016-04-02  2016-03-28
282   2016-04-01  2016-03-28
...          ...         ...
1741  2015-01-30  2015-01-26
1747  2015-01-29  2015-01-26
1746  2015-01-28  2015-01-26
1754  2015-01-27  2015-01-26
1738  2015-01-26  2015-01-26
1743  2015-01-25  2015-01-19
1737  2015-01-24  2015-01-19
1745  2015-01-23  2015-01-19
1667  2015-01-22  2015-01-19
1673  2015-01-21  2015-01-19
1661  2015-01-20  2015-01-19
1658  2015-01-19  2015-01-19
1659  2015-01-18  2015-01-12
1665  2015-01-17  2015-01-12
1662  2015-01-16  2015-01-12
1682  2015-01-15  2015-01-12
1592  2015-01-14  2015-01-12
1596  2015-01-13  2015-01-12
1594  2015-01-12  2015-01-12
1590  2015-01-11  2015-01-05
1599  2015-01-10  2015-01-05
1591  2015-01-09  2015-01-05
1603  2015-01-08  2015-01-05
1526  2015-01-07  2015-01-05
1532  2015-01-06  2015-01-05
1540  2015-01-05  2015-01-05
1525  2015-01-04  2014-12-29
1523  2015-01-03  2014-12-29
1524  2015-01-02  2014-12-29
1527  2015-01-01  2014-12-29

[486 rows x 2 columns]

In [20]:
df.groupby('Week')[['Date']].aggregate(lambda x: x.unique().shape[0]).reset_index().sort_values(by='Week',ascending=False)

          Week  Date
69  2016-04-25     6
68  2016-04-18     7
67  2016-04-11     7
66  2016-04-04     7
65  2016-03-28     7
64  2016-03-21     7
63  2016-03-14     7
62  2016-03-07     7
61  2016-02-29     7
60  2016-02-22     7
59  2016-02-15     7
58  2016-02-08     7
57  2016-02-01     7
56  2016-01-25     7
55  2016-01-18     7
54  2016-01-11     7
53  2016-01-04     7
52  2015-12-28     7
51  2015-12-21     7
50  2015-12-14     7
49  2015-12-07     7
48  2015-11-30     7
47  2015-11-23     7
46  2015-11-16     7
45  2015-11-09     7
44  2015-11-02     7
43  2015-10-26     7
42  2015-10-19     7
41  2015-10-12     7
40  2015-10-05     7
..         ...   ...
29  2015-07-20     7
28  2015-07-13     7
27  2015-07-06     7
26  2015-06-29     7
25  2015-06-22     7
24  2015-06-15     7
23  2015-06-08     7
22  2015-06-01     7
21  2015-05-25     7
20  2015-05-18     7
19  2015-05-11     7
18  2015-05-04     7
17  2015-04-27     7
16  2015-04-20     7
15  2015-04-13     7
14  2015-04-06     7
13  2015-03-30     7
12  2015-03-23     7
11  2015-03-16     7
10  2015-03-09     7
9   2015-03-02     7
8   2015-02-23     7
7   2015-02-16     7
6   2015-02-09     7
5   2015-02-02     7
4   2015-01-26     7
3   2015-01-19     7
2   2015-01-12     7
1   2015-01-05     7
0   2014-12-29     4

[70 rows x 2 columns]

In [30]:
np.unique(df[['AccountTimeZoneId']])

array([u'(GMT+00:00) London', u'(GMT+01:00) Madrid', u'(GMT+01:00) Paris',
       u'(GMT+01:00) Rome'], dtype=object)

In [25]:
np.unique(df[['AdNetworkType1']])

array([u'Display Network', u'Search Network', u'YouTube Videos'], dtype=object)

In [27]:
np.unique(df[['Device']])

array([u'Computers', u'Mobile devices with full browsers', u'Other',
       u'Tablets with full browsers'], dtype=object)

In [31]:
df[['AdNetworkType1','AdNetworkType2']].drop_duplicates()

        AdNetworkType1   AdNetworkType2
0      Display Network  Display Network
1       Search Network  Search partners
5       Search Network    Google search
16255   YouTube Videos   YouTube Videos

In [32]:
df.columns

Index([u'AccountCurrencyCode', u'AccountDescriptiveName', u'AccountTimeZoneId',
       u'ActiveViewCpm', u'ActiveViewCtr', u'ActiveViewImpressions',
       u'ActiveViewMeasurability', u'ActiveViewMeasurableCost',
       u'ActiveViewMeasurableImpressions', u'ActiveViewViewability',
       u'AdNetworkType1', u'AdNetworkType2', u'AllConversionRate',
       u'AllConversions', u'AllConversionValue', u'AverageCost', u'AverageCpc',
       u'AverageCpe', u'AverageCpm', u'AverageCpv', u'AveragePosition',
       u'CanManageClients', u'ClickConversionRate', u'Clicks',
       u'ContentBudgetLostImpressionShare', u'ContentImpressionShare',
       u'ContentRankLostImpressionShare', u'ConversionRate', u'Conversions',
       u'ConversionValue', u'ConvertedClicks', u'Cost',
       u'CostPerAllConversion', u'CostPerConversion', u'CostPerConvertedClick',
       u'CrossDeviceConversions', u'Ctr', u'CustomerDescriptiveName', u'Date',
       u'DayOfWeek', u'Device', u'EngagementRate', u'Engagements',
       u'ExternalCustomerId', u'Impressions', u'InteractionRate',
       u'Interactions', u'InvalidClickRate', u'InvalidClicks',
       u'IsAutoTaggingEnabled', u'IsTestAccount', u'Month', u'MonthOfYear',
       u'PrimaryCompanyName', u'Quarter', u'SearchBudgetLostImpressionShare',
       u'SearchExactMatchImpressionShare', u'SearchImpressionShare',
       u'SearchRankLostImpressionShare', u'ValuePerAllConversion',
       u'ValuePerConversion', u'ValuePerConvertedClick', u'VideoViewRate',
       u'VideoViews', u'ViewThroughConversions', u'Week', u'Year'],
      dtype='object')

In [34]:
np.unique( df[u'AccountDescriptiveName'])

array([u'Account Primario Volagratis', u'Brand', u'BravoFly.com',
       u'LMN Package', u'Rumbo Vuelos'], dtype=object)

In [36]:
%%sql --module account_geo
SELECT 
  AccountCurrencyCode,
  AccountDescriptiveName,
  AccountTimeZoneId
FROM 
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFORMANCE_DEVICE]
GROUP BY 1,2,3;

In [40]:
geo = bq.Query(account_geo).to_dataframe()

In [41]:
geo[geo['AccountCurrencyCode']]

,AccountCurrencyCode,AccountDescriptiveName,AccountTimeZoneId
0,GBP,Hotels – UK 3,(GMT+00:00) GMT (no daylight saving)
1,GBP,Google - Flights 3 - International and Test - ...,(GMT+00:00) GMT (no daylight saving)
2,EUR,LMN - Cruise,(GMT+01:00) Madrid
3,EUR,LMN Selfcat 1,(GMT+01:00) Paris
4,GBP,Brand,(GMT+00:00) London
5,GBP,Google - Apps,(GMT+00:00) London
6,EUR,lastminute.com HOTEL INTERNATIONAL,(GMT+01:00) Rome
7,GBP,Hotels – UK 2,(GMT+00:00) GMT (no daylight saving)
8,GBP,Hotel Names – Worldwide,(GMT+00:00) GMT (no daylight saving)
9,EUR,Lastminute PT Flights,(GMT+00:00) Lisbon
10,EUR,Bravofly FR,(GMT+01:00) Paris
11,EUR,BravoFly.com,(GMT+01:00) Rome
12,EUR,Volagratis Auto,(GMT+01:00) Rome
13,EUR,Google - ES - Flights 2,(GMT+01:00) Madrid
14,EUR,Rumbo.com Voli,(GMT+01:00) Madrid
15,EUR,Content - Lastminute FR,(GMT+01:00) Paris
16,GBP,Google - Flights - International and Test 2,(GMT+00:00) GMT (no daylight saving)
17,EUR,Svizzera Germania,(GMT+01:00) Zurich
18,EUR,Svizzera Francia,(GMT+01:00) Zurich
19,EUR,LMN - DP - IT,(GMT+01:00) Rome
20,EUR,Crocierissime,(GMT+01:00) Rome
21,EUR,lastminute_HOLI_Destination,(GMT+01:00) Berlin
22,EUR,lastminute+Nischen,(GMT+01:00) Berlin
23,EUR,LMN FR Brand,(GMT+01:00) Paris
24,EUR,Account Primario Volagratis,(GMT+01:00) Rome
25,EUR,SRC_Lastminute_Cruises,(GMT+01:00) Paris
26,GBP,Hotels - APAC,(GMT+00:00) London
27,EUR,LMN Selfcat Ski,(GMT+01:00) Paris
28,EUR,Svizzera Italia,(GMT+01:00) Zurich
29,EUR,lastminute.com BRAND,(GMT+01:00) Rome
...,...,...,...
117,EUR,Rumbo.es ROW,(GMT+01:00) Madrid
118,GBP,Hotels – UK,(GMT+00:00) GMT (no daylight saving)
119,EUR,YouTube - ES,(GMT+01:00) Madrid
120,GBP,Holidays 3 - GDN,(GMT+00:00) GMT (no daylight saving)
121,EUR,BravoFly FR Tratte Exact,(GMT+01:00) Rome
122,EUR,lastminute.com HOTEL ITALIA,(GMT+01:00) Rome
123,EUR,LMN Package,(GMT+01:00) Paris
124,EUR,LMN Package Hotel,(GMT+01:00) Paris
125,EUR,Google_SRC_Lastminute_Flight_Top Tail 2,(GMT+01:00) Paris
126,EUR,BravoFly FR ROW,(GMT+01:00) Rome
127,EUR,Bravofly Spagna,(GMT+01:00) Rome
128,EUR,Viajar.com Vuelos,(GMT+01:00) Madrid
129,EUR,Google Brand IE,(GMT+00:00) London
130,EUR,lastminute.de Flights 2015,(GMT+01:00) Berlin
131,EUR,LMN - DP - ES,(GMT+01:00) Madrid
132,EUR,lastminute.com AUTO,(GMT+01:00) Rome
133,EUR,Regala un Voucher,(GMT+01:00) Rome
134,EUR,BravoFly UK,(GMT+01:00) Rome
135,EUR,Bravofly USA (new),(GMT+01:00) Zurich
136,EUR,Bravofly COM ROW,(GMT+01:00) Madrid
137,GBP,Spa,(GMT+00:00) London
138,EUR,BravoFly Polonia,(GMT+01:00) Stockholm
139,EUR,Parchi Gratis,(GMT+01:00) Rome
140,GBP,LMN Flights UK,(GMT+00:00) London
141,GBP,Flights - Brand and Generic,(GMT+00:00) London
142,EUR,Rumbo Cruceros,(GMT+01:00) Madrid
143,GBP,Hotel Names – UK,(GMT+00:00) GMT (no daylight saving)
144,EUR,SRC_Lastminute_Flight_International,(GMT+01:00) Paris
145,EUR,lastminute+HOTELS-Stadt,(GMT+01:00) Berlin
146,GBP,US - Flights - 1,(GMT+00:00) GMT (no daylight saving)