In [1]:
%%sql
SELECT * FROM [google.com:ddm-connectors-demo:aw_dataset.__TABLES__];

QueryResultsTable job_puhP-yQy15AQy5-P3IoYKpVUT0M

In [2]:
import gcp.bigquery as bq
import pandas as pd

In [ ]:
%%sql
SELECT 
  AccountCurrencyCode,
  AccountDescriptiveName,
  AdNetworkType1,
  Date,
  Device,
  Cost,
FROM 
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFORMANCE_DEVICE];

In [3]:
%%sql --module account_device
SELECT
  *
FROM
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFORMANCE_DEVICE]
WHERE AccountDescriptiveName IN ('Rumbo Vuelos','Account Primario Volagratis','Brand','BravoFly.com','LMN Package')

In [ ]:
%%sql
SELECT
  *
FROM
  [google.com:ddm-connectors-demo:aw_dataset.ACCOUNT_PERFROMANCE_DEVICE]
LIMIT
  3

In [4]:
df = bq.Query(account_device).to_dataframe()

In [12]:
df[['Date','Week']].drop_duplicates().sort_values(by=['Date'],ascending=False)

            Date        Week
8421  2016-04-30  2016-04-25
8419  2016-04-29  2016-04-25
8439  2016-04-28  2016-04-25
8420  2016-04-27  2016-04-25
8454  2016-04-26  2016-04-25
8425  2016-04-25  2016-04-25
8423  2016-04-24  2016-04-18
8422  2016-04-23  2016-04-18
8373  2016-04-22  2016-04-18
8371  2016-04-21  2016-04-18
8377  2016-04-20  2016-04-18
8394  2016-04-19  2016-04-18
8375  2016-04-18  2016-04-18
8387  2016-04-17  2016-04-11
8382  2016-04-16  2016-04-11
8380  2016-04-15  2016-04-11
349   2016-04-14  2016-04-11
352   2016-04-13  2016-04-11
362   2016-04-12  2016-04-11
366   2016-04-11  2016-04-11
355   2016-04-10  2016-04-04
356   2016-04-09  2016-04-04
350   2016-04-08  2016-04-04
296   2016-04-07  2016-04-04
294   2016-04-06  2016-04-04
283   2016-04-05  2016-04-04
281   2016-04-04  2016-04-04
302   2016-04-03  2016-03-28
284   2016-04-02  2016-03-28
282   2016-04-01  2016-03-28
...          ...         ...
1741  2015-01-30  2015-01-26
1747  2015-01-29  2015-01-26
1746  2015-01-28  2015-01-26
1754  2015-01-27  2015-01-26
1738  2015-01-26  2015-01-26
1743  2015-01-25  2015-01-19
1737  2015-01-24  2015-01-19
1745  2015-01-23  2015-01-19
1667  2015-01-22  2015-01-19
1673  2015-01-21  2015-01-19
1661  2015-01-20  2015-01-19
1658  2015-01-19  2015-01-19
1659  2015-01-18  2015-01-12
1665  2015-01-17  2015-01-12
1662  2015-01-16  2015-01-12
1682  2015-01-15  2015-01-12
1592  2015-01-14  2015-01-12
1596  2015-01-13  2015-01-12
1594  2015-01-12  2015-01-12
1590  2015-01-11  2015-01-05
1599  2015-01-10  2015-01-05
1591  2015-01-09  2015-01-05
1603  2015-01-08  2015-01-05
1526  2015-01-07  2015-01-05
1532  2015-01-06  2015-01-05
1540  2015-01-05  2015-01-05
1525  2015-01-04  2014-12-29
1523  2015-01-03  2014-12-29
1524  2015-01-02  2014-12-29
1527  2015-01-01  2014-12-29

[486 rows x 2 columns]

In [20]:
df.groupby('Week')[['Date']].aggregate(lambda x: x.unique().shape[0]).reset_index().sort_values(by='Week',ascending=False)

          Week  Date
69  2016-04-25     6
68  2016-04-18     7
67  2016-04-11     7
66  2016-04-04     7
65  2016-03-28     7
64  2016-03-21     7
63  2016-03-14     7
62  2016-03-07     7
61  2016-02-29     7
60  2016-02-22     7
59  2016-02-15     7
58  2016-02-08     7
57  2016-02-01     7
56  2016-01-25     7
55  2016-01-18     7
54  2016-01-11     7
53  2016-01-04     7
52  2015-12-28     7
51  2015-12-21     7
50  2015-12-14     7
49  2015-12-07     7
48  2015-11-30     7
47  2015-11-23     7
46  2015-11-16     7
45  2015-11-09     7
44  2015-11-02     7
43  2015-10-26     7
42  2015-10-19     7
41  2015-10-12     7
40  2015-10-05     7
..         ...   ...
29  2015-07-20     7
28  2015-07-13     7
27  2015-07-06     7
26  2015-06-29     7
25  2015-06-22     7
24  2015-06-15     7
23  2015-06-08     7
22  2015-06-01     7
21  2015-05-25     7
20  2015-05-18     7
19  2015-05-11     7
18  2015-05-04     7
17  2015-04-27     7
16  2015-04-20     7
15  2015-04-13     7
14  2015-04-06     7
13  2015-03-30     7
12  2015-03-23     7
11  2015-03-16     7
10  2015-03-09     7
9   2015-03-02     7
8   2015-02-23     7
7   2015-02-16     7
6   2015-02-09     7
5   2015-02-02     7
4   2015-01-26     7
3   2015-01-19     7
2   2015-01-12     7
1   2015-01-05     7
0   2014-12-29     4

[70 rows x 2 columns]