In [1]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [2]:
%%bigquery schema --table "nyc-tlc:yellow.trips"

In [3]:
%%sql --module taxiquery
SELECT daynumber, COUNT(*) AS numtrips FROM
    (SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:yellow.trips])
GROUP BY daynumber ORDER BY daynumber

In [4]:
trips = bq.Query(taxiquery).to_dataframe()

In [5]:
%%sql --module wxquery
SELECT DAYOFYEAR(TIMESTAMP('$YEAR'+mo+da)) daynumber,
       FIRST(DAYOFWEEK(TIMESTAMP('$YEAR'+mo+da))) dayofweek,
       MIN(min) mintemp, MAX(max) maxtemp, MAX(IF(prcp=99.99,0,prcp)) rain
FROM [fh-bigquery:weather_gsod.gsod$YEAR]
WHERE stn='725030' GROUP BY 1 ORDER BY daynumber DESC

In [6]:
weather = bq.Query(wxquery, YEAR=2015).to_dataframe()
data = pd.merge(weather, trips, on='daynumber')

In [7]:
data[:10]

   daynumber  dayofweek  mintemp  maxtemp  rain  numtrips
0        365          5     46.0     48.2  0.17   2668294
1        364          4     34.0     48.0  0.13   2494007
2        363          3     33.8     46.9  0.37   2415137
3        362          2     39.0     62.1  0.02   2155247
4        361          1     46.0     62.6  0.14   1815101
5        360          7     50.0     64.0  0.03   1630893
6        359          6     54.0     72.0  0.01   1491734
7        358          5     50.0     72.0  1.46   2203949
8        357          4     50.0     62.1  0.18   2642256
9        356          3     55.0     62.6  0.00   2760196

In [8]:
data.length

AttributeError: 'DataFrame' object has no attribute 'length'

In [9]:
data.size

2190

In [10]:
data[:400]

     daynumber  dayofweek  mintemp  maxtemp  rain  numtrips
0          365          5     46.0     48.2  0.17   2668294
1          364          4     34.0     48.0  0.13   2494007
2          363          3     33.8     46.9  0.37   2415137
3          362          2     39.0     62.1  0.02   2155247
4          361          1     46.0     62.6  0.14   1815101
5          360          7     50.0     64.0  0.03   1630893
6          359          6     54.0     72.0  0.01   1491734
7          358          5     50.0     72.0  1.46   2203949
8          357          4     50.0     62.1  0.18   2642256
9          356          3     55.0     62.6  0.00   2760196
10         355          2     36.0     55.0  0.00   2847040
11         354          1     36.0     44.1  0.00   2808758
12         353          7     36.0     57.0  0.01   2945719
13         352          6     43.0     59.0  0.88   3074024
14         351          5     48.0     59.0  0.05   3105427
15         350          4     45.0     64.0  0.11   3097746
16         349          3     55.0     64.4  0.39   3006098
17         348          2     51.1     62.1  0.00   2982454
18         347          1     53.1     66.0  0.00   3027354
19         346          7     48.9     66.0  0.00   3003629
20         345          6     48.9     61.0  0.00   3023005
21         344          5     39.0     61.0  0.00   3080844
22         343          4     39.0     53.1  0.00   3040597
23         342          3     41.0     55.0  0.00   2991547
24         341          2     39.9     55.0  0.00   3003476
25         340          1     39.9     53.1  0.00   2961777
26         339          7     43.0     52.0  0.00   3000273
27         338          6     44.1     55.9  0.00   2966997
28         337          5     46.9     57.2  0.10   3015363
29         336          4     46.0     55.4  0.24   3002078
..         ...        ...      ...      ...   ...       ...
335         30          6     21.0     37.0  0.07   3475863
336         29          5     17.1     34.0  0.00   3454205
337         28          4     17.1     34.0  0.01   3290712
338         27          3     19.9     30.0  0.45   2857437
339         26          2     21.2     35.1  0.00   3093198
340         25          1     32.0     42.1  0.07   3320516
341         24          7     28.0     39.9  0.66   3414312
342         23          6     28.0     39.0  0.00   3431876
343         22          5     25.0     39.0  0.00   3380962
344         21          4     25.0     39.9  0.00   3089841
345         20          3     34.0     42.1  0.00   3232230
346         19          2     28.9     43.0  1.98   3121913
347         18          1     17.1     41.0  0.00   3219999
348         17          7     17.1     42.1  0.00   3342275
349         16          6     25.0     42.1  0.00   3352491
350         15          5     17.1     34.0  0.00   3428751
351         14          4     17.1     36.0  0.00   3395468
352         13          3     19.0     39.0  0.39   3301841
353         12          2     19.0     37.9  0.00   3137854
354         11          1     17.1     37.0  0.00   3270809
355         10          7     17.1     33.1  0.06   3361618
356          9          6      8.1     33.1  0.00   3328095
357          8          5      8.1     25.0  0.00   3339160
358          7          4     15.1     25.0  0.05   3172394
359          6          3     17.6     28.9  0.00   3068141
360          5          2     28.9     57.0  0.13   2969721
361          4          1     30.9     57.0  0.85   2872630
362          3          7     30.9     42.1  0.00   2759137
363          2          6     27.0     42.1  0.00   2385674
364          1          5     27.0     39.0  0.00   2340746

[365 rows x 6 columns]

In [11]:
weather = bq.Query(wxquery, YEAR=2014).to_dataframe()
data2014 = pd.merge(weather, trips, on='daynumber')
data2 = pd.concat([data, data2014])

In [12]:
data2.size

4380

In [13]:
weather = bq.Query(wxquery, YEAR=2013).to_dataframe()
data2013 = pd.merge(weather, trips, on='daynumber')
data3 = pd.concat([data2, data2013])

weather = bq.Query(wxquery, YEAR=2012).to_dataframe()
data2012 = pd.merge(weather, trips, on='daynumber')
data4 = pd.concat([data3, data2012])

In [14]:
data4.size

8766

In [15]:
import tensorflow as tf
shuffled = data2.sample(frac=1)
# It would be a good idea, if we had more data, to treat the days as categorical variables
# with the small amount of data, we have though, the model tends to overfit
#predictors = shuffled.iloc[:,2:5]
#for day in xrange(1,8):
#  matching = shuffled['dayofweek'] == day
#  predictors.loc[matching, 'day_' + str(day)] = 1
#  predictors.loc[~matching, 'day_' + str(day)] = 0
predictors = shuffled.iloc[:,1:5]
targets = shuffled.iloc[:,5]